body {
  background: linear-gradient(#ffd6e8, #ffeef5);
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 220px;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #705080;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#reply {
  margin-top: 20px;
  font-size: 18px;
  color: #b54141;
}

#countdown {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

